@import '../../styles/fontstyles.scss';
@import '../../styles/fonts.scss';

.WeOnMap {
    &__Content {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__Title {
        @extend %borwnTitle;
    }

    &__Map {
        width: 100%;
        margin-top: 30px;
        object-fit: cover;
    }

    &__Location {
        margin-top: 33px;
        font-family: MontserratRegular;
        font-size: 24px;
        line-height: 29px;
    }
}