@font-face {
    font-family: RobotoRegular;
    src: url('../fonts/Roboto-Regular.ttf');
}

@font-face {
    font-family: HeliosRegular;
    src: url('../fonts/HeliosC.ttf');
}

@font-face {
    font-family: HeliosBold;
    src: url('../fonts/HeliosC-Bold.ttf');
}

@font-face {
    font-family: MontserratLight;
    src: url('../fonts/Montserrat-Light.ttf');
}

@font-face {
    font-family: MontserratSemiBold;
    src: url('../fonts/Montserrat-SemiBold.ttf');
}

@font-face {
    font-family: MontserratRegular;
    src: url('../fonts/Montserrat-Regular.ttf');
}

@font-face {
    font-family: HaettenschweilerRegular;
    src: url('../fonts/Haettenschweiler-Regular.ttf');
}