%borwnTitle {
    color: brown;
    font-family: HeliosBold;
    font-style: normal;
    font-weight: 400;
    font-size: 60px;
    line-height: 70px;
    letter-spacing: -0.009em;
}

%MontserratText {
    font-family: MontserratRegular;
    font-size: 26px;
    line-height: 32px;
}