@import '../../../styles/colors.scss';
@import '../../../styles/buttonstyles.scss';

.Button {
    max-width: 376px;
    width: 100%;
    height: 100px;
    padding: 38px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    @extend %GradientButton;

    p {
        color: white;
        font-family: MontserratSemiBold;
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 24px;
    }
}