.Navbar {
    height: 128px;
    display: flex;
    align-items: center;
    background-color: #1e1e1e;

    &__Content {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.Links {
    display: flex;
    justify-content: space-between;

    &__Link {
        color: white;
        font-size: 29px;
        line-height: 34px;
        font-family: RobotoRegular;
    }
}

.Logo {
    width: 144px;

    img {
        max-width: 100%;
        object-fit: cover;
    }
}